// tournament setup form
.setup {
    background: $background;
    margin: 0 auto;
    padding: 10px;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
        padding: 0px;
        padding-bottom: 10px;
    }
    label, input, select {
        margin-bottom: 20px;
    }
}

.tournament-name-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    div.field {
        margin-right: 5%;
    }
    input#setup-tournament {
        margin: 0;
    }
}

.tournament-name {
    min-width: 250px;
}

.players {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 3%;
    flex-wrap: wrap;
    div {
        margin: 5px;
        display: flex;
        flex-direction: column;
    }
}

.players-form {
    button {
        display: block;
        margin: 10px auto;
    } 
}

input#setup-tournament {
    margin: 0 auto;
}

// tournament bracket styles
.round {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    padding-bottom: 15px;
    .match {
        display: flex;
        flex-direction: column;
        flex-basis: 300px;
        min-width: 100px;
        margin-bottom: 10px;
        padding: 2%;
        border: 3px solid $dark-accent;
        border-radius: 5px;
    }
}

.pair {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
} 

.option {
    width: 45%;
    text-align: center;
    label {
        margin-right: 2%;
        transition: 0.2s;
        &:hover,
        &:focus {
            color: $header;
            font-weight: bold;
            border-bottom: 2px solid $primary;
        }
        }
        input:checked+label {
            color: $header;
            font-weight: bold;
            border-bottom: 2px solid $primary;
        }
}

.matchups {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    button {
        margin-bottom: 40px;
    }
}

input[type=radio] {
    opacity: 0;
    position: absolute;
}

// stlyes for win state
.results {
    padding: 25px 0px;;
    p {
        font-family: 'Lobster', sans-serif;
        text-align: center;
        @include font-size(40);
    }
    span {
        color: $header;
        font-weight: 700;
    } 
    button {
        margin: 0 auto;
        display: block;
    }
}