// visually hidden
.visually-hidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

html {
    font-size: 125%;
    line-height: 1.6;
    background: $background;
}

.wrapper {
    max-width: 1600px;
}

button,
[type=submit] {
    padding: 1%;
    text-transform: uppercase;
    min-width: 250px;
    @include font-size(20);
    background: $primary;
    color: $background;
    border: 1px solid $primary;
    transition: 0.2s;
    border-radius: 5px;
    margin: 10px auto;
    font-family: 'Raleway', sans-serif;
    &:hover {
        color: $primary;
        background: $background;
    }
}

h1,
h2,
h3 {
    font-family: 'Lobster', sans-serif;
}

label {
    font-family: 'Raleway', sans-serif;
}

h2 {
    margin: 0;
    padding: 0;
    padding-top: 5%;
    padding-bottom: 2%;
    color: $header;
    @include font-size(35);
}

a {
    text-decoration: none;
}

p {
    font-family: 'Raleway', sans-serif;
}

fieldset {
    border: none;
    padding-left: 0;
}

[type=text] {
    font-family: 'Raleway', sans-serif;
    padding: 2px;
    @include font-size(18);
    background: none;
    border: none;
    border-bottom: 2px solid $primary;
    margin-top: 5px;
    &::placeholder {
        color: $accent;
    }
}

select {
    appearance: none;
    background: $background;
    border: none;
    border-bottom: 2px solid $primary;
    text-align: center;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: $header;
    width: 30px
}
