article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

html {
  font-size: 125%;
  line-height: 1.6;
  background: #EFE3E2; }

.wrapper {
  max-width: 1600px; }

button,
[type=submit] {
  padding: 1%;
  text-transform: uppercase;
  min-width: 250px;
  font-size: 20px;
  font-size: 1rem;
  background: #40376e;
  color: #EFE3E2;
  border: 1px solid #40376e;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  border-radius: 5px;
  margin: 10px auto;
  font-family: 'Raleway', sans-serif; }
  button:hover,
  [type=submit]:hover {
    color: #40376e;
    background: #EFE3E2; }

h1,
h2,
h3 {
  font-family: 'Lobster', sans-serif; }

label {
  font-family: 'Raleway', sans-serif; }

h2 {
  margin: 0;
  padding: 0;
  padding-top: 5%;
  padding-bottom: 2%;
  color: #36558f;
  font-size: 35px;
  font-size: 1.75rem; }

h3 {
  color: #36558f;
  line-height: 1.6; }

p {
  font-family: 'Raleway', sans-serif; }

fieldset {
  border: none;
  padding-left: 0; }

[type=text] {
  font-family: 'Raleway', sans-serif;
  padding: 2px;
  font-size: 18px;
  font-size: 0.9rem;
  background: none;
  border: none;
  border-bottom: 2px solid #40376e;
  margin-top: 5px; }
  [type=text]::-webkit-input-placeholder {
    color: #96acb7; }
  [type=text]:-ms-input-placeholder {
    color: #96acb7; }
  [type=text]::-ms-input-placeholder {
    color: #96acb7; }
  [type=text]::placeholder {
    color: #96acb7; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #EFE3E2;
  border: none;
  border-bottom: 2px solid #40376e;
  text-align: center;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: #36558f;
  width: 30px; }

header {
  background: url(../assets/rock-paper-scissors.jpg);
  background-size: cover;
  background-position: center;
  height: 50vh; }

h1 {
  color: #40376e;
  margin: 0;
  padding: 2% 5%;
  text-align: center;
  font-size: 50px;
  font-size: 2.5rem; }

.setup {
  background: #EFE3E2;
  margin: 0 auto;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px; }
  .setup h2 {
    padding: 0px;
    padding-bottom: 10px; }

.tournamentNameForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .tournamentNameForm div.field {
    margin-right: 5%; }
  .tournamentNameForm input#setupTournament {
    margin: 0; }

.tournamentName {
  min-width: 250px; }

.players {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 30% 30%;
  grid-template-columns: 30% 30% 30%;
  grid-column-gap: 3%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .players div {
    margin: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }

.playersForm button {
  display: block;
  margin: 10px auto; }

input#setupTournament {
  margin: 0 auto; }

.bracket .round {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 15px; }
  .bracket .round .match {
    border: 3px solid #48233c;
    border-radius: 5px;
    min-width: 100px;
    -ms-flex-preferred-size: 300px;
    flex-basis: 300px;
    padding: 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 10px; }

.pair {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 10px; }
  .pair .option {
    width: 45%; }
    .pair .option label {
      margin-right: 2%; }

.matchups {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .matchups button {
    margin-bottom: 40px; }

.results {
  padding: 25px 0px; }
  .results p {
    font-family: 'Lobster', sans-serif;
    text-align: center;
    font-size: 25px;
    font-size: 1.25rem; }
  .results span {
    color: #36558f;
    font-weight: 700; }
